fastapi
uvicorn[standard]
pytest
httpx
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-json-logger
pytest-asyncio
respx
packaging
# Linting and code formatting tools
flake8
black
pylint
# Rate limiting
slowapi
redis